/* Base styles */

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    position: relative;
    font-size: 16px;
    font-family: var(--body-font);
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

.wrapper {
    display: flex;
    width: 100%;
}

.container {
    padding: 0px 25px;
    width: 100%;
    @include breakpoint-up(medium) {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

img {
    max-width: 100%;
    height: auto;
}

input {
    font-family: var(--body-font);;
}

